@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "anjoman";
    src: url("../../font/AnjomanBlack.woff") format("woff"),
         url("../../font/AnjomanExtraLight.woff") format("woff"),
         url("../../font/AnjomanHeavy.woff") format("woff"),
         url("../../font/AnjomanMedium.woff") format("woff"),
         url("../../font/AnjomanSemiBold.woff") format("woff"),
         url("../../font/AnjomanThin.woff") format("woff"),
         url("../../font/AnjomanExtraBold.woff") format("woff");
    font-display: swap; /* Ensure fallback fonts are used until custom fonts are loaded */
}



body{
    font-family: "anjoman", sans-serif;
    background: #DFD3C8;
}

.style-search-header{
    border-radius: 10px;
    background: #FFFBFA;
    box-shadow: 0px 2.5px 5px 0px rgba(241, 31, 25, 0.25) inset;
}

.button-search-header{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 5px 0px rgba(241, 31, 25, 0.25) inset;
}

.card-nav-style{
    background: #FFF;
    box-shadow: 0px 5px 10px 0px rgba(241, 31, 25, 0.25);
}

.show-Products{
    display: block!important;
  }
  .box-scale-menubar{
    transition: all 0.5s ease;
  
  }
  .box-scale-menubar:hover{
    scale: 1.1;
}

.burgerMenu-style{
    opacity: 2;
    background-color: #dfdfdf;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(5px);
    position: absolute;
}

.card-icon-style{
    fill: #F9F3F1;
    box-shadow: 10px 0px 95px 0px rgba(251, 84, 29, 0.15) inset;
    backdrop-filter: blur(15px);
}

.burgerMenu-show{
    display: block !important;
}


/* for big banner */

.slider {
    width: 100%;
    height: 405px; /*relative to width*/
    max-height: 675px; /*relative to max-width*/
    min-height: 168px; /*relative to min-width*/
    overflow: hidden;
    position: relative;  display:flex;
    flex-direction: column;
    justify-content: center;
  } 
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  .button {
    display: inline-block;
    /* padding: 2.5%; */
  /*   background: #000; */
    color: #fff;
    z-index: 10; /*INSURE BUTTONS ARE ON TOP */
  }
  
  .slide {
    width: 1293px;
    height: 405px;
    margin: auto;
    position: absolute;
    left: 100%;
    text-align: center;
    transition: left 2s ease;
    border-radius: 40px;
  }
  
  /*initial styles for each slide update the colors/rules for each container */
  #slide1 {
    left: 0; /* don't change this one */
  }
  #slide2 {
    
  }
  #slide3 {
    
  }
  #slide4 {
    
  }

.big-banner-slide-bg-box{
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.36);
    backdrop-filter: blur(17px);
}