@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: Anjoman;
    src: url("../font/Anjoman-Black\ [@ClubEdits].ttf") format("ttf"),
         url("../font/Anjoman-ExtraBold\ [@ClubEdits].ttf") format("ttf"),
         url("../font/Anjoman-ExtraLight\ [@ClubEdits].ttf") format("ttf"),
         url("../font/Anjoman-Heavy\ [@ClubEdits].ttf") format("ttf"),
         url("../font/Anjoman-Medium\ [@ClubEdits].ttf") format("ttf"),
         url("../font/Anjoman-SemiBold\ [@ClubEdits].ttf") format("ttf"),
         url("../font/Anjoman-Thin\ [@ClubEdits].ttf") format("ttf");
}

body{
    font-family: Anjoman;
    background: #DFD3C8;
}

.searchBarboxShadow{
    box-shadow: 0px 2.5px 5px 0px rgba(241, 31, 25, 0.25) inset;
}

.searchbarboxbuttonshadow{
    box-shadow: 0px 0px 5px 0px rgba(241, 31, 25, 0.25) inset;
}

.navbarBoxshadow{
    box-shadow: 0px 5px 10px 0px rgba(241, 31, 25, 0.25);
}

.bigbannerimg{
    background-image: url('../img/Mask\ group.png');
}

.bgboxinbigbanner{
    background: rgba(0, 0, 0, 0.36);
    backdrop-filter: blur(17px);
}

.textboxbigbanner1{
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Anjoman;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.textboxbigbanner2{
    color: #CACACA;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Anjoman;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.fleshbigbanner{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}