@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: anjoman;
    src: url('../font/AnjomanBlack.ttf') format('ttf'),
        url('../font/AnjomanExtraBold.ttf') format('ttf'),
        url('../font/AnjomanExtraLight.ttf') format('ttf'),
        url('../font/AnjomanHeavy.ttf') format('ttf'),
        url('../font/AnjomanMedium.ttf') format('ttf'),
        url('../font/AnjomanSemiBold.ttf') format('ttf'),
        url('../font/AnjomanThin.ttf') format('ttf');
}

body{
    font-family: anjoman;
    background: #DFD3C8;
}

.searchBarboxShadow{
    box-shadow: 0px 2.5px 5px 0px rgba(241, 31, 25, 0.25) inset;
}

.searchbarboxbuttonshadow{
    box-shadow: 0px 0px 5px 0px rgba(241, 31, 25, 0.25) inset;
}

.navbarBoxshadow{
    box-shadow: 0px 5px 10px 0px rgba(241, 31, 25, 0.25);
}

.bigbannerimg{
    background-image: url('../img/Mask\ group.png');
}

.bgboxinbigbanner{
    background: rgba(0, 0, 0, 0.36);
    backdrop-filter: blur(17px);
}

.textboxbigbanner1{
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Anjoman;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-family: Anjoman;
}

.textboxbigbanner2{
    color: #CACACA;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Anjoman;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.fleshbigbanner{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bg-text-newArrival{
    background: linear-gradient(0deg, #F11F19 0%, #F11F19 100%);
}

.boxsh-grids-new-arrival{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.andre-francois-bg-img{
    background-image: url(../img/kitchen.png);
}

.andre-francois-style-titr{
    border-radius: 30px;
    background: #F11F19;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(2px);
}

.andre-francois-style-slideButton{
    padding: 7.193px 6.939px 6.937px 7.191px;
}